<%- include("../partials/head.ejs") %>

    <body>

        <%- include("../partials/header.ejs") %>

            <main class="actualizar__main">

                <section class="actualizar__main__section-form">
                    <h2 class="actualizar__main__section__actualizar"> Actualizar datos <i class="fa-solid fa-user"></i>
                    </h2>
                    <form action="/users/editar/<%=user.id%>?_method=PUT" method="post"
                        class="actualizar__main__section__form" enctype="multipart/form-data">

                        <div class="actualizar__main__section-form form input">
                            <div class="actualizar__main__section-form form input">
                                <label for="nameAndSurname">Nombre y Apellido</label>
                                <input type="text" id="name" name="nameAndSurname"
                                    value="<%= locals.user ? user.nameAndSurname : locals.old && old.NameAndSurname ? old.NameAndSurname : null %>">
                                <p class="erroresForm">
                                    <%= locals.errores && errores.nameAndSurname ? errores.nameAndSurname.msg : null %>
                                </p>
                            </div>
                        </div>

                        <div class="actualizar__main__section-form form input">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email"
                                value="<%= locals.user ? user.email : locals.old && old.email ? old.email : null %>">
                            <p class="erroresForm">
                                <%= locals.errores && errores.email ? errores.email.msg : null %>
                            </p>
                        </div>

                        <div class="actualizar__main__section-form form input">
                            <label for="phoneNumber">Tel</label>
                            <input type="text" id="phoneNumber" name="phoneNumber"
                                value="<%= locals.user ? user.phoneNumber : locals.old && old.phoneNumber ? old.phoneNumber : null %>">
                            <p class="erroresForm">
                                <%= locals.errores && errores.phoneNumber ? errores.phoneNumber.msg : null %>
                            </p>
                        </div>


                        <% if (locals.usuario && usuario.rol=='2' ) {%>
                            <div class="actualizar__main__section-form form input">
                                <label for="rol">Rol</label>
                                <select name="rolId">
                                    <option value="1">User</option>
                                    <option value="2">Admin</option>
                                </select>

                            </div>
                            <% } %>

                                <div class="actualizar__main__section-form form input">
                                    <label for="date">Fecha de Nacimiento</label>
                                    <input type="date" name="date" id="date"
                                        value="<%= locals.user ? user.date : locals.old && old.date ? old.date : null %>">
                                    <p class="erroresForm">
                                        <%= locals.errores && errores.date ? errores.date.msg : null %>
                                    </p>
                                </div>

                                <div class="actualizar__main__section-form form input">
                                    <label for="country">País</label>
                                    <input type="text" name="country" id="country"
                                        value="<%= locals.country ? user.country : locals.old && old.country ? old.date : null %>">
                                    <p class="erroresForm">
                                        <%= locals.errores && errores.country ? errores.country.msg : null %>
                                    </p>
                                </div>

                                <div class="actualizar__main__section-form form input">
                                    <label for="province">Provincia</label>
                                    <input type="text" name="province" id="province"
                                        value="<%= locals.province ? user.province : locals.old && old.province ? old.date : null %>">
                                    <p class="erroresForm">
                                        <%= locals.errores && errores.province ? errores.province.msg : null %>
                                    </p>
                                </div>

                                <div class="actualizar__main__section-form form input">
                                    <label for="number">Número</label>
                                    <input type="number" name="number" id="number"
                                        value="<%= locals.number ? user.number : locals.old && old.number ? old.date : null %>">
                                    <p class="erroresForm">
                                        <%= locals.errores && errores.number ? errores.numbermsg : null %>
                                    </p>
                                </div>

                                <div class="actualizar__main__section-form form input">
                                    <label for="streetName">Nombre de la calle</label>
                                    <input type="text" name="streetName" id="streetName"
                                        value="<%= locals.streetName ? user.streetName : locals.old && old.streetName ? old.date : null %>">
                                    <p class="erroresForm">
                                        <%= locals.errores && errores.streetName ? errores.streetName.msg : null %>
                                    </p>
                                </div>

                                <div class="actualizar__main__section-form form input">
                                    <label for="postalCode">Código postal</label>
                                    <input type="number" name="postalCode" id="postalCode"
                                        value="<%= locals.postalCode ? user.postalCode : locals.old && old.postalCode ? old.date : null %>">
                                    <p class="erroresForm">
                                        <%= locals.errores && errores.postalCode ? errores.postalCode.msg : null %>
                                    </p>
                                </div>

                                <div class="actualizar__main__section-form form input">
                                    <label for="locality">Localidad</label>
                                    <input type="text" name="locality" id="locality"
                                        value="<%= locals.locality ? user.locality : locals.old && old.locality ? old.date : null %>">
                                    <p class="erroresForm">
                                        <%= locals.errores && errores.locality ? errores.locality.msg : null %>
                                    </p>
                                </div>

                                <div class="actualizar__main__section-form form input">
                                    <label for="image" class="actualizar__main__section__form div img">Foto de
                                        perfil</label><br>
                                    <% if(user.image){%>
                                        <img src="/img/users/<%= user.image %>" alt="profile image">
                                        <%} %>

                                            <input type="file" id="inputGroupFile02" name="image">
                                            <p>
                                                <%= locals.errores && errores.image ? errores.image.msg : null %>
                                            </p>
                                </div>

                                <div class="actualizar__main__section-form-div-booton">
                                    <button class="actualizar__main__section__form-button"
                                        type="submit">Actualizar</button>
                                </div>



                    </form>

                </section>
            </main>

            <%- include("../partials/footer.ejs") %>

    </body>

    </html>