<%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>

      <main class="dashboard__main">
        <h1>LISTADO DE USUARIOS</h1>
        <div>
          <button><a href="/users/registrarme">Registrar usuario</a></button>
        </div>

        <table class="dashboard__main__table">
          <thead class="dashboard__main__table__thead">
            <tr>
              <% propiedades.forEach(propiedad=> { %>
                <th>
                  <%= propiedad.toUpperCase() %>
                </th>
                <% }); %>
                  <th> ACCIONES </th>
            </tr>
          </thead>
          <tbody class="dashboard__main__table__tbody">
            <% users.forEach(obj=> { %>
              <tr class="dashboard__main__table__tbody__fila">
                <% propiedades.forEach(prop=> { %>
                  <% if (prop=="id" ){ %>
                    <td>
                      <%= obj.id %>
                    </td>
                    <% } else if (prop=="image" ) { %>
                      <td> <img src="/img/<%= obj.image %>" alt="<%= obj.image %>"> </td>
                      <% } else { %>
                        <td>
                          <%= obj[prop]%>
                        </td>
                        <% } %>
                          <% }); %>

                            <td class="dashboard__main__table__tbody__buttons">
                              <a href="/users/detail/<%= obj.id %>"><i class="fa-solid fa-eye"></i></a>
                              <a href="/users/editar/<%= obj.id %>"><i class="fa-solid fa-pen-to-square"></i></a>
                              <form action="/users/delete/<%= obj.id %>?_method=DELETE" method="POST">
                                <button type="submit" class="eliminar"><i class="fa-solid fa-trash"></i>
                                </button>
                              </form>

                            </td>
              </tr>
              <%}); %>
          </tbody>
        </table>

      </main>
      <%- include("../partials/footer.ejs") %>

  </body>

  </html>