<%- include("../partials/head.ejs") %>

<body> 
    
    <%- include("../partials/header.ejs") %>

    <main class="login__main">
        <section class="login__main__section-bienvenidos">
        <img src="img/logo-circular.png" alt="">
        <h1>Bienvenidos</h1>
        </section>
    
        <section class="login__main__section-form">
            <h2>Acceso <i class="fa-solid fa-user"></i></h2>

        
            <form action="/users/ingresar" method="post" class="login__main__section__form">
                
                <input type="email" name="email" id="email" value= "<%= locals.old && old.email ? old.email : null %>" placeholder="Email">
                <p class="register__main__section__form__p" ><%= locals.errors && errors.email ? errors.email.msg : null%> </p>
                <input type="password" name="password1" id="contraseña" placeholder="Contraseña">
                <p class="register__main__section__form__p"><%= locals.errors && errors.password1 ? errors.password1.msg : null%></p>
                <button type="submit" class="login__main__section__form-button">Entrar</button>

                <div>
                    <label class="login__main__section__form-label" for="">Recordar mi cuenta</label>
                    <input class="" name="rememberMe" type="checkbox">
                </div>

            </form>
            <ul type="none" class="login__main__section__ul">
                <li ><a href="/users/registrarme">Registrarme </a></li>
                <li ><a href="/">Olvidé mi contraseña </a></li>
            </ul>
        </section>
    </main> 
    
    <%- include("../partials/footer.ejs") %>

</body>
</html>