<%- include("../partials/head.ejs") %>

<body> 
    
    <%- include("../partials/header.ejs") %>

    <main class="login__main">
        <section class="login__main__section-bienvenidos">
        <img src="/img/logo-circular.png" alt="">
        <h1>Bienvenidos</h1>
        </section>
    
        <section class="login__main__section-form">
            <h2>Acceso <i class="fa-solid fa-user"></i></h2>

        
            <form action="/users/ingresar" method="post" class="login__main__section__form">
                
            <div class="login_main_section-div-email">
                <label for="Email">Email</label>
                <input type="email" name="email" id="email" value= "<%= locals.old && old.email ? old.email : null %>" >
                <p class="register__main__section__form__p" ><%= locals.errors && errors.email ? errors.email.msg : null%></p>
            </div>

            <div class="login_main_section-div-password1">
                <label for="Contraseña">Contraseña</label>
                <input type="password" name="password1" id="contraseña" >
                <p class="register__main__section__form__p"><%= locals.errors && errors.password1 ? errors.password1.msg : null%></p>
            </div>

                <button type="submit" class="login__main__section__form-button form-button">Entrar</button>

                <div>
                    <label id="login__main__section__form__div__recordar-label" for="">Recordar mi cuenta</label>
                    <input id="login__main__section__form__div-input" name="rememberMe" type="checkbox">
                </div>

            </form>
            <ul type="none" class="login__main__section__ul">
                <li ><a href="/users/registrarme">Registrarme </a></li>
                <li ><a href="/">Olvidé mi contraseña </a></li>
            </ul>
        </section>
    </main> 
    
    <%- include("../partials/footer.ejs") %>
<script src="/js/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>