
<%- include("../partials/head.ejs") %>
<body>

    <%- include("../partials/header.ejs") %>

   <main class="register__main">
    <nav class="register__main__nav">
      <ul class="register__main__nav__ul">
          <li class="li__home"><a href="/">Home</a></li>
          <li class="li__miCuenta"><a href="/users/ingresar">Mi cuenta</a></li>
          <li ><a href="/users/registrarme">Crear cuenta</a></li>
      </ul>
  </nav>
  <section class="register__main__section">
    <h1>Crear Cuenta</h1>
    <form action="/users/registrarme" method="post" class="register__main__section__form">
        <div>
            <label for="NameAndSurname">Nombre y Apellido*</label><br>
            <input type="text" name="NameAndSurname" id="name" value= "<%= locals.old && old.NameAndSurname ? old.NameAndSurname : null %>">
            <p class="register__main__section__form__p"><%= locals.errores && errores.NameAndSurname ? errores.NameAndSurname.msg : null%> </p>
        </div>
    
          <div>
            <label for="email">Email*</label><br>
            <input type="email" name="email" id="email" value= "<%= locals.old && old.email ? old.email : null %>">
            <p class="register__main__section__form__p" ><%= locals.errores && errores.email ? errores.email.msg : null%> </p>
          </div>
          
          <div>
            <label for=" phoneNumber">Teléfono*</label><br>
            <input type=" tel" name="phoneNumber" id="phoneNumber" value= "<%= locals.old && old.phoneNumber ? old.phoneNumber : null %>">
            <p class="register__main__section__form__p"><%= locals.errores && errores.phoneNumber ? errores.phoneNumber.msg : null%> </p>
          </div>
  
          <div>
            <label for="contraseña">Contraseña*</label><br>
            <input type="password" name="password1" id="contraseña">
            <p class="register__main__section__form__p"><%= locals.errores && errores.password1 ? errores.password1.msg : null%> </p>
          </div>
  
          <div>
            <label for="confirm">Confirmar contraseña*</label><br>
            <input type="password" name="password2" id="confirm" >
            <p class="register__main__section__form__p"><%= locals.errores && errores.password1 ? errores.password1.msg : null%> </p>
          </div>
          <span>
            <p class="register__main__section__form--p-campos">*Campos obligatorios</p>
          </span>
          
            <button type="submit">Crear cuenta</button>
          
    </form>
    <p class="register__main__section__form--p--cuenta">¿Ya tenés una cuenta? <a href="/ingresar" class="register__main__section__form__div__p__a">Iniciá sesión</a></p>
  </section>
  
   </main>
   <%- include("../partials/footer.ejs") %>

</body>
</html>