<%- include("../partials/head.ejs") %>
<body>
  <%- include("../partials/header.ejs") %>
<body>
  
  <main class="form-main">
  </nav>
  <section class="form_main_section">
    <h1>CARGAR PRODUCTOS</h1>
    <form action="/products/formCreate" method="POST" enctype="multipart/form-data" class="form_mainsection_form">
      <div>
        <label for="image">Imagen</label>
        <input type="file" name="image" id="image" accept="png jpg">
      </div>
        <div>
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" required>
        </div>
    
          <div>

            <label for="price">Precio</label>
            <input type="text" name="price" id="price" required>

          </div>

        <div>
          <label for="discount">Descuento</label>
          <input type="text" name="discount" id="discount" required>
      </div>
  

          <div>

            <label for="descripcion">Descripción</label>
            <input type="text" name="description" id="descripcion" required>
          </div>
  
          <div>
            <label for="adicional">Descripción Adicional</label>
            <input type="text" name="extraDescription" id="adicional" required>
          </div>

          <div>
            <label for="category">Categoria</label>
            <select name="categoryId" id="category" required>
            <% categories.forEach(category => { %>
               <option value="<%= category.id %>"><%= category.name %></option>
               <% }) %>
            </select>
            
          </div>

          <div>
            <label for="medidias">Medidas</label>
            <input type="text" name="height" class="form_mainsection_form-div-medidas" id="height" placeholder="Alto..." required>
            <input type="text" name="width" class="form_mainsection_form-div-medidas" id="width" placeholder="Ancho..." required>
            <input type="text" name="depth" class="form_mainsection_form-div-medidas" id="depth" placeholder="Profundidad..." required>


          
          <button type="submit">Cargar Producto</button> 
          
    </form>
    
  </section>
  
   </main>
   <%- include("../partials/footer.ejs") %>

</body>
</html>