<%- include("../partials/head.ejs") %>

<body class="products__body">

<%- include("../partials/header.ejs") %>

<main class="products__main">

<section class="products__main__section">
    <% if (products.length > 0) { %>
        <h1>Resultados de su búsqueda</h1>
    
        <% products.forEach(product => { %>
            <article class="products__main__section__article">
                <a href="/products/detail/<%=product.id %>" class="products__main__section__article__a">
                    <img src="/img/<%= product.image ? product.image : "default.jpg"%>" alt="">
                    <div class="products__main__section__div">
                        <h3><%= product.name %></h3>
                        <% if (product.discount > 0){ %>
                            <p class="tachado products__main__descuento-p">$<%= product.price %></p>
                            <p class="products__main__descuento-p">-<%= product.discount %>%</p>
                            <p>$<%= product.price - ((product.price * product.discount) / 100) %></p>
                      <%  } else {%>
                        <p class="products__main__precio-total">$<%= product.price %></p>
                        <% } %>
                    </div>
                </a>
            </article>
        <%  }); %>
        <%} else {%>
            <h1>No se han encontrado resultados para su búsqueda</h1>
            <% }%>
   
    
</section>

</main>

<a href="https://wa.me/1130761743" target="_blank" class="index__main-wsp"><i class="fa-brands fa-whatsapp"></i></a>
<%- include("../partials/footer.ejs") %>
<script src="/js/header.js" ></script>
</body>
</html>